.nav {
    width: 280px;
    height: 100%;
    padding-top: 42px;
    box-shadow: 3px 0px 15px 0px rgba(157, 155, 155, 0.17);
    &__title {
        font-size: 28px;
        height: 48px;
        color: #212121;
        padding-left: 32px;
        border-bottom: 2px solid rgba(204, 204, 204, 0.8);
    }
    &__items {
        .nav__item {
            text-decoration: none;
            width: calc(100% - 40px);
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 60px;
            padding-left: 40px;
            border-bottom: 1px solid rgba(204, 204, 204, 0.4);
            font-size: 20px;
            color: #212121;
            position: relative;
            cursor: pointer;
            &__icon {
                color: #64c5b1;
                margin-right: 18px;
                width: 24px;
            }
            &__arrow {
                position: absolute;
                right: 24px;
                color: #616161;
            }
        }
    }
}
