.wrap-content{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    height: 1000px;
    .content__right-side{
        width: 100%;
        &__content {
            width: 100%;
            height: calc(100% - 210px);
            position: relative;
            background: #f0f0f2 ;
        }
    }
}