.header {
    color: #ffffff;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: #2c2c2c;
    z-index: 1;
    &-menu {
        float: left;
        font-size: 24px;
        left: 24px;
        position: absolute;
        top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &__icon {
            margin-right: 8px;
            &:hover{
                cursor: pointer;
            }
        }
        &__title{
            font-size: 28px;
            // &:hover{
            //     cursor: pointer;
            // }
        }
    }
    &-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 360px;
        height: 40px;
        left: 963px;
        top: 20px;
        background: #ffffff;
        border-radius: 5px;
        &__icon {
            position: absolute;
            left: 12px;
            top: 8px;
            font-size: 20px;
            line-height: 40px;
            color: rgba(9, 8, 8, 0.64);
            &:hover{
                cursor: pointer;
            }
        }
        &__input {
            width: 360px;
            height: 38px;
            border: none;
            border-radius: 5px;
            background: #ffffff;
            padding-left: 44px;
            
            &::placeholder {
                color: #999999;
                font-size: 16px;
            }
            &:focus {
                // border: 3px solid #4ac49a;
                // outline: none;
                // outline: 1px;
                height: 38px;
                outline-color: #4ac49a;
            }
        }
    }
    &-account {
        font-size: 24px;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50px;
        height: 27px;
        top: 26px;
        right: 24px;
        &__user {
            margin-right: 4px;
            &:hover{
                cursor: pointer;
            }
        }
        &__icon{
            &:hover{
                cursor: pointer;
            }
        }
    }
}
