.subject-item {
    min-height: 30px;
    max-height: 140px;
    display: flex;
    font-size: 14px;
    color: #000000;
    // @media (min-height: 41px) {
    //     height: 140px;
    // }
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    padding: 10px 0;
    &__title {
        width: 220px;
        border-right: 1px solid rgba(204, 204, 204, 0.3);
        font-weight: 600;
    }
    &__content {
        padding-left: 20px;
        width: calc(100% - 240px);
    }
}
